# Titulo 1
## Titulo 2
### Titulo 3
```python
print ("Hola Markdown")
```

In [3]:
print ("Hola jupyter")

Hola jupyter

In [16]:
# No tipado!! no declarar el tipo de variable nunca
# Variables primitivas
entero = 4
decimales = 1.1
nombre = "Jorge"
segundo_nombre = "Alejandro" # no camelCase en Python
casado = False
estudiante = True
apellido = 'Trujillo'
hijos = None #null
print(type(entero))
print(type(decimales))
print(type(nombre))
print(type(casado))
print(type(estudiante))
print(type(apellido))
print(type(hijos))
#nan es float

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'NoneType'>

In [11]:
cadena_de_texto = """"
adnasndifansiufasdfasdfasdifnasd ajdsf iadfija sidfao dfoij sodifj asdf
 asd
 f asd
 fasdfasdfasdfa sdfa df adfasdfa sdfasdfaposdfkaosd a
 fiadaidsfaisdf
 
 asdfjaijdfaisjdfooj ijasdofjaoisjefio
"""
print(cadena_de_texto)

"
adnasndifansiufasdfasdfasdifnasd ajdsf iadfija sidfao dfoij sodifj asdf
 asd
 f asd
 fasdfasdfasdfa sdfa df adfasdfa sdfasdfaposdfkaosd a
 fiadaidsfaisdf

 asdfjaijdfaisjdfooj ijasdofjaoisjefio

In [17]:
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

4
Jorge

In [11]:
# condiciones
# Truty - Falsy
tuplas = (1,2,3) # Arreglos que no se pueden modificar
listas = [4,5,6] # Arreglos que se pueden modificar
diccionario = {
    "nombre" : "Jorge"
}
nombre = 'Jorge'
if('Jorge'):
    # foo()
    print('Truty')
else:
    #bar()
    print('Falsy')
    
if(''):
    print('Truty')
else:
    print('Falsy')
    
nulo = None
if(nulo):#Falsy
    print('Truty')
else:
    print('Falsy')
    
if(1):#Truty
    print('Truty')
else:
    print('Falsy')

if(0):#Falsy
    print('Truty')
else:
    print('Falsy')

if(-1):#Truty
    print('Truty')
else:
    print('Falsy')
    
if(()):#Falsy
    print('Truty')
else:
    print('Falsy')
    
if((1)):#Truty
    print('Truty')
else:
    print('Falsy')

if([]):#Falsy
    print('Truty')
else:
    print('Falsy')
    
if([1]):#Truty
    print('Truty')
else:
    print('Falsy')

if({}):#Falsy
    print('Truty')
else:
    print('Falsy')
    
if({nombre:"Jorge"}):#Truty
    print('Truty')
else:
    print('Falsy')

Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [15]:
arreglo = [1,2,3,4,5,6,7,8,9,10]

In [21]:
arreglo[0:3] #[0:3)]
arreglo[5:]#Hasta el final
arreglo[:7]#desde el principio
arreglo[-10]#Indice negativo empieza FINAL
arreglo[3:-2]
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:]

arregloTupla = (1,2,3,4,5,6,7,8,9,10)
arregloTupla[5:]

(6, 7, 8, 9, 10)

In [27]:
diccionario = {
    "nombre":"Jorge",
    "apellido":"Trujillo",
    "sueldo":1.2
}
diccionario["apellido"]

'Trujillo'

In [28]:
12 in arreglo

False

In [29]:
print(type(12 in arreglo))

<class 'bool'>

In [30]:
len(arreglo)
len(arregloTupla)
len(diccionario)

3

In [31]:
"nombre" in diccionario

True

In [32]:
for numeroLista in arreglo:
    print(numeroLista)

1
2
3
4
5
6
7
8
9
10

In [34]:
jorge = {
    True:"Jorge",
    False:"Trujillo",
    1:12.2,
    1.1:94,
    'edad':25,
    "mascotas":[{"nombre":"manchas"}],
    None:None
}

In [35]:
jorge['edad']=24
jorge['apellido'] = 'Chunés'
jorge['mascotas'][0]['nombre']='Siete'

In [36]:
jorge

{True: 12.2,
 False: 'Trujillo',
 1.1: 94,
 'edad': 24,
 'mascotas': [{'nombre': 'Siete'}],
 None: None,
 'apellido': 'Chunés'}

In [40]:
print(type(jorge.keys()))

<class 'dict_keys'>

In [41]:
jorge.values()

dict_values([12.2, 'Trujillo', 94, 24, [{'nombre': 'Siete'}], None, 'Chunés'])